body {
  background-color: #f8dada;
}
h1 {
  color: black;
  text-align: right;
  position: relative;
  top: 30px;
  right: 20px;
  padding: 0;
  margin: 0 auto;
}
h2 {
  position: relative;
  top: -70px;
  left: 72px;
  font-size: 40px;
  padding: 0;
  margin: 0 auto;
}
ul {
  margin: 0 0 -50px;
  padding: 20;
}

li {
  color: #050303;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  text-transform: capitalize;
  text-align: left;
  position: relative;
  top: -70px;
  right: 5px;
}

hr {
  margin-top: 50px;
}
.sun {
  font-size: 40px;
  position: relative;
  top: -10px;
  left: 15px;
}
.degrees {
  font-size: 20px;
  position: relative;
  top: -112px;
  left: 115px;
}
.wednesday {
  text-align: right;
  position: relative;
  top: -40px;
  right: 25px;
  font-size: 25px;
  margin-top: -50px;
}
.container {
  box-shadow: grey;
}
.weather-app {
  background-color: rgb(217, 194, 202);
  border: 1px solid rgb(196, 192, 192);
  border-radius: 15px;
  padding: 10px;
  margin: 30px auto;
  max-width: 600px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.github {
  display: block;
  text-align: center;
}
